#error_explanation h2{
  font-size:14px;
  color:red;
}

.success_bar{
  position:fixed;
  top:30%;
  left:45%;
  display:none;
  z-index:999999999999999999;
}

.error_bar{
  position:fixed;
  top:30%;
  left:45%;
  display:none;
}

.grey_out_opponent{
  color: #FF6347;
  opacity:.5;
}

.grey_out_myteam{
  color: #F0F8FF;
}

.hide_player{
  visibility: hidden;
}